<div>
    <p-toast />
    <app-keycloak-loading [visible]="isLoading()" />
    <p-confirmPopup />
    <p-card header="Utilisateurs">
        <p-toolbar>
            <div class="p-toolbar-group-start">
                <p-button (click)="showNewUserFormDialog=true" severity="success" label="Nouveau" icon="pi pi-plus"/>
            </div>
        </p-toolbar>
    </p-card>
    <p-table 
        [value]="users()" 
        [tableStyle]="{ 'min-width': '50rem' }"
        [paginator]="true"
        [rows]="10"
        [rowsPerPageOptions]="[10, 20]">
        <ng-template pTemplate="header">
            <tr>
                <th>
                    Statut
                </th>
                <th pSortableColumn="username" style="width:20%">
                    Nom d'utilisateur <p-sortIcon field="username" />
                </th>
                <th pSortableColumn="lastName" style="width:20%">
                    Nom <p-sortIcon field="lastName" />
                </th>
                <th pSortableColumn="firstName" style="width:20%">
                    Prénom <p-sortIcon field="firstName" />
                </th>
                <th pSortableColumn="email" style="width:20%">
                    email <p-sortIcon field="email" />
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td>
                    @if(user.isConnected){ <p-badge value="connecté" severity="success" /> }
                    @else{ <p-badge value="déconnecté" severity="danger" /> }
                </td>
                <td>
                    {{ user.username }}
                </td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td class="flex gap-2">
                    @if (user.enabled) {
                        <p-button (onClick)="changeAccountConfirm($event, user.id, false)" label="Désactiver" severity="danger" [text]="true" [raised]="true" />
                    }@else {
                        <p-button (onClick)="changeAccountConfirm($event, user.id, true)" label="Activer" severity="success" [text]="true" [raised]="true" />
                    }
                    <p-button (onClick)="seeDetail(user.id)" label="Détails" [text]="true" [raised]="true" />
                    <p-button (click)="updateForm(user)" icon="pi pi-pen-to-square" severity="secondary" />
                    @if(user.username != connectedUsername && user.isConnected){
                        <p-button (onClick)="logoutUser(user.id)" label="Le déconnecter" severity="danger" [text]="true" [raised]="true" />
                    }
                </td>
            </tr>
        </ng-template>
    </p-table>
    <!-- New user dialog -->
    <p-dialog header="Nouveau utilisateur" [modal]="true" [(visible)]="showNewUserFormDialog" [style]="{ width: '25rem' }">
        <span class="p-text-secondary block mb-5">Informations de l'utilisateur.</span>
        <form [formGroup]="newUserForm" (ngSubmit)="newUserFormSubmit()">
            <div class="flex align-items-center gap-3 mb-3">
                <label for="username" class="font-semibold w-6rem">Nom d'utilisateur</label>
                <input formControlName="username" pInputText id="username" class="flex-auto" autocomplete="off" />
            </div>
            <div class="flex align-items-center gap-3 mb-3">
                <label for="firstName" class="font-semibold w-6rem">Prénom</label>
                <input formControlName="firstName" pInputText id="firstName" class="flex-auto" autocomplete="off" />
            </div>
            <div class="flex align-items-center gap-3 mb-3">
                <label for="lastName" class="font-semibold w-6rem">Nom</label>
                <input formControlName="lastName" pInputText id="lastName" class="flex-auto" autocomplete="off" />
            </div>
            <div class="flex align-items-center gap-3 mb-5">
                <label for="email" class="font-semibold w-6rem">Email</label>
                <input formControlName="email" pInputText id="email" class="flex-auto" autocomplete="off" />
            </div>
            <div class="flex align-items-center gap-3 mb-5">
                <label for="password" class="font-semibold w-6rem">Mot de passe</label>
                <input formControlName="password" pInputText id="password" class="flex-auto" autocomplete="off" />
            </div>
            <div class="flex align-items-center gap-3 mb-5">
                <label for="password_confirm" class="font-semibold w-6rem">Confirmation du mot de passe</label>
                <input formControlName="passwordConfirm" pInputText id="password_confirm" class="flex-auto" autocomplete="off" />
            </div>
            <div class="flex align-items-center gap-3 mb-5">
                <label for="enabled" class="font-semibold w-6rem">Compte activé</label>
                <p-checkbox formControlName="enabled" [binary]="true" inputId="enabled" />
            </div>
            <div class="flex justify-content-end gap-2">
                <p-button label="Annuler" severity="secondary" (click)="showNewUserFormDialog = false" />
                <p-button type="submit" [disabled]="!newUserForm.valid" label="Enregistrer" />
            </div>
        </form>
    </p-dialog>
    <!-- Update User form -->
    <p-dialog header="Utilisateur" [modal]="true" [(visible)]="updateUserFormDialog" [style]="{ width: '25rem' }">
        <span class="p-text-secondary block mb-5">Modifier ici les informations de l'utilisateur.</span>
        <form [formGroup]="updateUserForm" (ngSubmit)="updateUserFormSubmit()">
        <!--
            <div class="flex align-items-center gap-3 mb-3">
                <label for="username" class="font-semibold w-6rem">Nom d'utilisateur</label>
                <input [disabled]="true" formControlName="username" pInputText id="username" class="flex-auto" />
            </div> 
        -->
            <div class="flex align-items-center gap-3 mb-3">
                <label for="firstName" class="font-semibold w-6rem">Prénom</label>
                <input formControlName="firstName" pInputText id="firstName" class="flex-auto" autocomplete="off" />
            </div>
            <div class="flex align-items-center gap-3 mb-3">
                <label for="lastName" class="font-semibold w-6rem">Nom</label>
                <input formControlName="lastName" pInputText id="lastName" class="flex-auto" autocomplete="off" />
            </div>
            <div class="flex align-items-center gap-3 mb-5">
                <label for="email" class="font-semibold w-6rem">Email</label>
                <input formControlName="email" pInputText id="email" class="flex-auto" autocomplete="off" />
            </div>
            <div class="flex align-items-center gap-3 mb-5">
                <label for="enabled" class="font-semibold w-6rem">Compte activé</label>
                <p-checkbox formControlName="enabled" [binary]="true" inputId="enabled" />
            </div>
            <div class="flex justify-content-end gap-2">
                <p-button label="Annuler" severity="secondary" (click)="updateUserFormDialog = false" />
                <p-button type="submit" [disabled]="!updateUserForm.valid" label="Enregistrer" />
            </div>
        </form>
    </p-dialog>
</div>