<div>
    <p-card header="Administration des utilisateurs">
        <p-accordion [activeIndex]="0">
            <p-accordionTab header="Gestion des utilisateurs">
                <div>
                    <a [routerLink]="'/keycloak/users'">Users list</a>
                </div>
            </p-accordionTab>
            <p-accordionTab header="Gestion des rôles">
                <div>
                    <a [routerLink]="'/keycloak/roles'">Role list</a>
                </div>
            </p-accordionTab>
        </p-accordion>
    </p-card>
</div>